@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom,#3CA6A6,#026773);
    height: 100vh;
}
 
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #012e4098;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #146551;
    text-align: center;
    text-shadow: 1px 1px 2px #012e4098;
}

h2 {
    color: #265C4B;
}

p {
    text-align: justify;
}